@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-500: #837278;
  --color-primary-600: #4C4246;
  --color-primary-700: #41393C;
  --color-primary-900: #2E282A;

  --color-secondary: #F1F1F1
}

html {
  font-family: "Google Sans Code", monospace;
  font-style: normal;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  button {
    @apply cursor-pointer;
  }
}
